/*
    font-family: 'Roboto', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Bree Serif', serif;
*/
html, body{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
}

.container{
	width: 100%;
	height: 100%;
}

header{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: 75px;
	background-color: #f8ff62;
	position: fixed;
	top: 0;
}

/*header#nav2{
	background-color: white;
	border-bottom: 1px solid black;
}*/

header ul{
	margin: 0;
	height: 100%;
}

header nav{
	padding-right:20px;
}

header ul > li{
	display: inline-block;
	list-style: none;
	padding-right:10px;
}

header ul > li > a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	cursor: pointer;
}

header ul > li > a:hover{
	color: blue;
}

section{
	width: 100%;
	height: 80%;
}

section h2{
	text-align: center;
	font-size: 35px;
	font-family: 'Bree Serif', serif;
}

p{
	margin-top: 0;
}

footer{
	background-color: black;
}

footer p{
	margin: 0;
	text-align: center;
	color: white;
}

.cy{
	color: #f8ff62;
}

.flex-center{
	display: flex;
	justify-content: center;
}

.flex{
	display: flex;
}

.middle > div{
	flex: 1;
	display: flex;
	justify-content: center;
}

.middle > div > div{
	width: 100%;
	text-align: center;
}

.grid{
	width: 960px;
	height: 100%;
}

.head{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f8ff62;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 300px;
	background-image: url("../images/engranes.gif");
}

.head h1{
	margin: 0;
	font-size: 70px;
	font-family: 'Bree Serif', serif;
}

.fdc{
	flex-direction: column;
}

.bgb{
	background-color: black;
}

.canvasContainer canvas{
	margin-left: 15px;
	margin-right: 15px;
}

.middlesect{
	align-items: center;
	justify-content: center;
	height: 250px;
}

.contact-form > form{
	display: flex;
	flex-direction: column;
}

.contact-form > form input, .contact-form > form textarea{
	margin-bottom: 10px;
	border-radius: 5px;
	padding-left: 10px;
}

.contact-form > form input{
	height: 35px;
}

.contact-form > form textarea{
	height: 100px;
	max-width: 100%;
	padding-top: 10px;
}

.contact-form > form > div {
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

.contact-form > form > div > input[type="submit"]{
	border: 1px solid black;
	margin: 0;
	background-color: #f8ff62;
	height: 35px;
	width: 100%;
	max-width: 100px;
	font-size: 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
}

.contact-form > form > div > input[type="submit"]:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

#top_but_lpz{
	cursor: pointer;
}